<div class="row">
	<div class="col-md-6">
		<div class="well">
			<h1>Great Job!</h1>
			<p>Do you want to see where we like to find nachos near you?</p>
			<%= form_tag(alien_nachos_path) do %>
				<div class="form-group">
					City: <br>
					<%= text_field_tag :city %>
				</div>
				<div class="form-group">
					State: <br>
					<%= select_tag :state, options_for_select(@states), :prompt => "Select a State" %>
				</div>
				<br>
				<div class="form-group">
					<%= submit_tag "I'm here, where are you?", class: "btn btn-success" %>
				</div>
			<% end %>
		</div>
	</div>
		<div class="col-md-6">
			<div class="well">
				<a data-toggle="popover" title="Fun Fact" data-content="<%= @fun_facts[0] %>"><img src="<%= asset_path "nachos.png" %>" class="swing"></a>
				</img>
			</div>
		</div>
</div>