<div class="well">
<div class="row">
	<div id="parents" class="col-md-8">
		<h1>For Parents</h1>
		<p>
		This is a game intended to introduce kids to basic programming concepts through a computer programming language called Ruby.  There is no downloading, logins, or installing required to play and learn, and no personal information is saved.
		</p>
		<p>
		After they complete a quiz, kids are rewarded with an interactive map of 'where aliens eat nachos.' It's a simple story with some science facts thrown in for fun.
		</p>
	</div>
	<div class="col-md-4">
		<div class="well">
		<a data-toggle="popover" title="Fun Fact" data-content="<%= @fun_facts[1] %>"><%= image_tag "spaceship.png", class: "img-responsive", id: "alien" %></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="well">
			<a data-toggle="popover" title="Fun Fact" data-content="<%= @fun_facts[0] %>"><%= image_tag "nachos.png", class: "img-responsive", id: "integers" %></a>
		</div>
	</div>
	<div id="ruby" class="col-md-8">
		<h1>What is Ruby?</h1>
		<p>
		Ruby is a powerful and easy-to-read programming language often used with the Rails framework. Popular websites powered by Ruby on Rails include Hulu, Kickstarter, AirBnb, GitHub, Groupon, and Goodreads.
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<h1>About Me</h1>
		<p>
		I am a programmer and a mother of two young girls, who both signed off on the awesomeness of aliens and nachos. My goal with this web app is to encourage and inspire young kids in STEM fields, especially young girls. You can find out more about me <a href="http://jilltank.github.io" target="_blank">here</a> at my personal website.
		</p>
		<br>
		<p><i>Special thanks to <a href="https://thenounproject.com/search/?q=planet&i=198338" target="_blank">Andrey Vasiliev and the Noun Project</a> for the logo icon.</i></p>
	</div>
	<div class="col-md-4">
		<div class="well">
			<a data-toggle="popover" title="Fun Fact" data-content="<%= @fun_facts[2] %>"><%= image_tag "meteorite.png", class: "img-responsive", id: "variables" %></a>
		</div>
	</div>
</div>
</div> 