<div class="col-md-12">
  <h3 id="meter">
    nachometer:
    <% @nachos.times do %>
      <%= image_tag "nachos2.png", class: "bounce" %>
    <% end %>
  </h3>
</div>

<div id="topics">
	<div class="row">
		<div class="well">
			<div class="col-md-12 center-it">
				<h1><%= @subject.name.downcase %></h1>
				<hr>
				<p><%= @subject.description %></p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="well">
			<div class="col-md-6">
				<a data-toggle="popover" title="Fun Fact" data-content="<%= @fun_facts[0] %>" ><%= image_tag @subject.image, id: "#{@subject.name.downcase}", class: "img-responsive" %></a>
			</div>
			<div class="col-md-6">
				<% @examples.each do |e| %>
					<p><%= e.instance %></p>
				<% end %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<hr>
		</div>
	</div>
	<div class="row">
		<p class="center-it"><%= @test.question %></p>
	</div>
	<div class="row">
		<div class="well center-it">
			<% @answer_box.each do |choice| %>
				<% if choice == @test.right %>
						<p><a class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-sm"><%= choice %></a></p>
				<% else %>
						<p><a class="btn btn-success" data-toggle="modal" href="#incorrect"><%= choice %></a></p>
				<% end %>
			<% end %>
		</div>
	</div>
</div>


<!-- Model for correct answers -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
    	<div class="container">
    		<div class="row">
    			<div class="well">
    				<div class="center-it">
	    				<h2>That's Right!</h2>
	    				<p><%= @test.confirmation %></p>
	    				<% if @subject.id != @subjects.length %>
	    					<p><%= link_to "Next", go_path(id: @subject.id+1), class: "btn btn-success" %></p>
	    				<% else %>
	    					<%= link_to "Winner!", winner_path, class: "btn btn-success" %>
	    					<br>
	    				<% end %>
	    				<br>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>


<!-- Modal for incorrect answers -->
<div id="incorrect" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
    	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="well">
	    	<div class="center-it">
	      	<h2>Keep Trying</h2>
	      	<br>
	    		<p><%= @test.clue %></p>
	    		<br>
	    		<% if @test.video != nil %>
	    			<iframe width="560" height="315" src=<%= @test.video %> frameborder="0" allowfullscreen></iframe>
	    		<% else %>
	    			<%= image_tag "wrong.png", width: "100" %>
	    		<% end %>
	    		<br><br>
	    		<p><%= link_to "try again", go_path(id: @subject.id), class: "btn btn-success" %></p>
	    	</div>
	    	<br>
    	</div>
    </div>
  </div>
</div>

<!-- 
// <script type="text/javascript">
	$(document).ready(function() {
		$('#topics').hide(300).show(1000);
	});
</script> -->