<!DOCTYPE html>
<html>
<head>
	<meta charset=""utf-8"">
  <meta http-equiv=""X-UA-Compatible"" content=""IE=edge"">
  <meta name=""viewport"" content=""width=device-width, initial-scale=1"">
  <title>Aliens Love Nachos</title>
  <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <a href="<%= root_path %>" class="pull-left"><img id="logo" class="img-responsive" src="<%= asset_path "nachos.png" %>" /></a>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#space" data-toggle="modal">Space Facts</a></li>
                <li><a href="/about#ruby">About Ruby</a></li>
                <li><a href="/about#parents">For Parents</a></li>
              </ul>
            </div>
            <hr>
          </nav>
        </div>
        <div class="col-md-11 col-md-offset-1">
          <a href="<%= root_path %>"><%= image_tag "logo.png", height: "80" %></a>
        </div>
      </div>
    </div>
  </div>


<div class="container">
  <div class="content">
    <%= yield %>
  </div>
</div>

<br><br>


<hr>
<div class="footer container">
  <br><br>
  <div class="row center-it">
    <div class="col-md-4">
      <p>Connect</p>
      <p><a href="https://github.com/jilltank?tab=repositories" target="_blank">GitHub</a></p>
      <p><a href="https://twitter.com/jill_tank" target="_blank">Twitter</a></p>
      <p><a href="https://www.linkedin.com/in/jillian-tankersley-726432aa" target="_blank">LinkedIn</a></p>
      <br>
    </div>
    <div class="col-md-4">
      <p>Sources</p>
      <p><a href="https://data.nasa.gov/view/ak9y-cwf9" target="_blank">NASA</a></p>
      <p><a href="https://www.databaseofnachos.com" target="_blank">Nachos</a></p>
      <p><a href="http://bouncejs.com/" target="_blank">Bounce.js</a></p>
      <br>
    </div>
    <div class="col-md-4">
      <p>More Practice</p>
      <p><a href="https://code.org/learn" target="_blank">Code.org</a></p>
      <p><a href="http://lightbot.com/hour-of-code-2015.html" target="_blank">Lightbot</a></p>
      <p><a href="http://thefoos.com/" target="_blank">The Foos</a></p>
      <br>
    </div>
  </div>
</div>


<div id="space" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
      </div>
      <div class="container">
        <h2 class="center-it">NASA and Meteorites</h2>
        <br>
        <div class="row">
          <div class="col-md-8">
            <p>The spaceship landing sites used on this site are the actual sites where scientists have discovered and documented real meteorites, which are pieces of larger space rocks that crashed to the Earth. The data is taken from NASA's database of over 45,716 meteorite finds. Watch the video below to find out more about meteorites.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag "meteorite.png", width: "100" %>
          </div>
        </div>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/02wrLS-ue1Q" frameborder="0" allowfullscreen></iframe>
        <br><br>
      </div>
    </div>
  </div>
</div>


<script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  })
</script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['maps_api_key'] %>"></script>
</body>
</html>
